<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <h2 href="#" class="titulo">Practica</h2>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="../home/home.component.html">Inicio</a></li>
      <li><a href="../home/home.component.html">Nosotros</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="salir" (click)="salir()">Cerrar Sesion</button>
      
    </ul>
  </div>
</nav>

<img src="assets/Captura.PNG" class="rounded mx-auto d-block" alt="Responsive image">

<div class="row">
    <div class="column">
      <div class="card">
        <h3>Lorem</h3>
        <img src="assets/lugar.jpg" class="foto">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et quos sunt nobis quae quibusdam modi harum ipsa molestiae, nam illum placeat temporibus deserunt architecto repellat magnam ut magni sapiente laudantium.</p>
        <p>Ver mas</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Lorem</h3>
        <img src="assets/lugar.jpg" class="foto">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid quia sunt ipsam culpa recusandae neque omnis. Doloremque vero maxime corrupti aliquid natus sapiente nulla iusto alias aut itaque! Eveniet, ex.</p>
        <p>Ver mas</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Lorem</h3>
        <img src="assets/lugar.jpg" class="foto">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste molestias, nihil nostrum amet necessitatibus inventore quidem dicta animi, hic perferendis assumenda neque suscipit ab fugiat aperiam sunt voluptatum provident.</p>
        <p>Ver mas</p>
      </div>
    </div>
    
  </div>
<br>
  <footer>

    Hecho por Josselyn Jacome

</footer>
  
